

body{
    font-family: "Roboto", sans-serif;
    margin:0;
    
}

/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    position: fixed;
    top:0;
    width:100%;
    z-index: 10;
}


.logo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap:2px;
    flex:1;
    height: 100%;
    font-size:24px;
}

.logo::before {
  content: "";
  position: absolute;
  left:-100px;
  inset: 0;
  background-color: rgb(36, 36, 36);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.logo p{
    color:white;
    text-transform: uppercase;
    z-index:10;
   
}

.logo i{
    color:goldenrod;
    font-size:xx-large;
    z-index:10;

}

.nav-items{
    background-color: rgba(255, 255, 255, 0.1);
    height:70%;
    display:flex;
    flex:3;
    align-items:center;
    justify-content: center;
    gap:10px;
    font-weight:bold;
    text-transform: uppercase;
    color:white;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor:pointer;
    border:none;

}


.buy-ticket-btn{
    background-color: rgb(36, 36, 36);
    color:white;
    font-weight:bold;
}

/* BODY */

.main {

    background-image: url("https://images.pexels.com/photos/163534/baseball-victory-game-sport-163534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    padding: 0 70px;
    height:80vh;
    display:flex;
    position:relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


.watch-btn {
    background-color:rgb(51, 139, 201);
    color:white;
    font-size:small;

}

.get-ticket-btn{
    background-color:rgb(11, 185, 37);
    color: white;
   
}

/* FOOTER */

.footer {
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color: rgb(36, 36, 36);
    gap:10px;
    height: 20vh;
}

.match{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    flex-basis:150px;
}

.club-logo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2px;
    
}

.club-logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.club-logo p{
   margin:0;
   text-transform: uppercase;
   font-weight:bold;
   font-size:8px;
   
}

.match-title p{
    color:gray;
    text-transform: uppercase;
    font-size:16px;
    font-weight:bold;
}
.match-title small{
    color:white;
}

.footer .timer {
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:25px;
}

.footer .timer div{
    display:flex;
    flex-direction:column;
    align-items: start;
    justify-content: space-between;
    gap:15px;
}

.footer .timer span{
    color:white;
    text-transform: uppercase;
    font-size:30px;
    font-weight:bold;
}

.footer .timer small{
    color:gray;
}



.buy-tickets-btn {
    background-color:rgb(11, 185, 37);
    color:white;
    font-weight:bold;
}